{% extends "blog/base.html" %}

{% block content %}

    {% for post in posts %}
    <div class="row">
            <div >
                <img class="rounded-circle" width="40px" height="40px" src="{{ user.profile.image.url}}">
            </div>
        <h2> <a href="{% url 'post-detail' post.id %}">{{ post.title }} </a></h2>
        <blockquote class="blockquote">
            <p class="mb-0">{{post.content}}</p>
            <footer class="blockquote-footer">By {{ post.author }}  <cite title="Source Title">on {{ post.date_posted|date:"F d, Y" }}</cite></footer>
        </blockquote>
    </div>
    {% endfor %}
{% endblock content%}