{% extends "blog/base.html" %}

{% block content %}

    <div class="row">
            <div >
                <img class="rounded-circle" width="40px" height="40px" src="{{ user.profile.image.url}}">
            </div>
        <h2> {{ object.title }} </h2>
        <blockquote class="blockquote">
            <p class="mb-0">{{object.content}}</p>
            <footer class="blockquote-footer">By <a href="{% url 'user-posts' post.author.username %}">{{ object.author }} </a> <cite title="Source Title">on {{ object.date_posted|date:"F d, Y" }}</cite></footer>
        </blockquote>
        {% if object.author == user %}
        <div class="form-group">
                <a class="btn btn-primary" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger" href="{% url 'post-delete' object.id %}">Delete</a>
        </div>
        {% endif %}
    </div>
{% endblock content %}