{% extends "blog/base.html" %}

{% block content %}
 <h1>Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.num_pages}})</h1>
    {% for post in posts %}
    <div class="row">
           
        <div >
            <img class="rounded-circle" width="40px" height="40px" src="{{ post.author.profile.image.url}}">
        </div>
        <h2> <a href="{% url 'post-detail' post.id %}">{{ post.title }} </a></h2>
        <blockquote class="blockquote">
            <p class="mb-0">{{post.content}}</p>
            <footer class="blockquote-footer">By <a href="{% url 'user-posts' post.author.username %}"> {{ post.author.username }} </a> <cite title="Source Title">on {{ post.date_posted|date:"F d, Y" }}</cite></footer>
        </blockquote>
    </div>
    {% endfor %}

    {% if is_paginated%}
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-info btn-mb-4">First </a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info btn-mb-4">previous </a>
        {% endif %}

        {% for num in page_obj.paginator.page_range%}
            {% if page_obj.number == num %}
                <a href="?page={{num}}" class="btn btn-outline-solid btn-mb-4">{{ num }} </a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{num}}" class="btn btn-outline-info btn-mb-4">{{ num }} </a>
            {% endif %}
        {% endfor %}

         {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info btn-mb-4">Next </a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info btn-mb-4">Last </a>
        {% endif %}

    {% endif %}
{% endblock content%}